[Unit]
Description=RepZ Ultimate Bot
After=syslog.target

[Service]
User=repz
ExecStart=/bin/sh -c "/home/repz/software/rzub.jar --server.port=8083 --conf.rzub.settings=/home/repz/software/settings.json"
KillMode=control-group
SuccessExitStatus=143
OOMScoreAdjust=-999
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
